<table class="table">
  <% customers_info.each do |f| %>
    <tr>
      <th class="col-2">
        <%= link_to customer_path(f), class: "text-dark" do %>
          <%= image_tag f.get_profile_image(100, 100) %>
        <% end %>
      </th>
      <td class="col-6"><%= link_to customer_path(f), class: "text-dark" do %>
              <p><strong><%= f.name %></strong></p>
                        <% end %>
                        <%= f.introduction %>
      </td>
      <% if f != current_customer %>
        <td id="follow_buttons_<%= f.id %>">
          <%= render 'public/relationships/follow_buttons', customer: f %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= paginate customers_info %>
