<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-5 mx-auto">
  <div class="form-inline">
    <div class="notification-box">
      <div class="notification-show">
        <span>
          <%= link_to customer_path(visitor) do %>
            <%= image_tag visitor.get_profile_image(50, 50) %>
            <strong class="text-dark"><%= visitor.name %></strong>
          <% end %>
        </span>
        さんが

        <% case notification.action %>
          <% when 'follow' then %>
            あなたをフォローしました。
          <% when 'favorite' then %>
            <strong><%= link_to "あなたの投稿", exercise_path(notification.exercise), class: "text-info" %></strong>
            にいいねしました。
          <% when 'comment' then %>
              <strong><%= link_to "あなたの投稿", exercise_path(notification.exercise), class: "text-info" %></strong>
              にコメントしました。
              <p class="text-muted mb-0">
                <%= Comment.find_by(id: notification.comment_id)&.comment_to %>
              </p>
        <% end %>
        <div class="small text-muted text-right">
          <%= time_ago_in_words(notification.created_at).upcase %>
        </div>
      </div>
    </div>
  </div>
</div>


